<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="h-screen w-full bg-zinc-900 p-7 text-white">
    <h3 class="text-3xl mb-5">Edit post</h3>
        <form action="/update/<%= post._id %>" method="post">
            <textarea  class="block mb-2 px-3 py-2 w-1/3 rounded-md border-2 border-zinc-800 bg-transparent mx-1 resize-none outline-none" name="content"><%= post.content%></textarea>          
            <input class="px-4 py-2 bg-blue-500 rounded-md cursor-pointer" type="submit" value="Update">
        </form>
   </div>
</body>
</html>